
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500&family=Nunito:wght@600;700;800&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
}

h1{
margin-left: 0px;
margin-top: 0px;
}




body{
    display: flex;

    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background: #87CEFA	;   
}

.wrapper {
    width: 480px;

    background: #E6E6FA;
    border-radius: 18px;
    
}

.wrapper header {


    color: black;
    font-size: 25px;
    font-weight: 500;
    padding: 16px 15px;
    display: flex;
    align-items: center; 
   
    border-bottom: 1px solid 	#E6E6FA; 
}

header i{ 

cursor: pointer;
font-size: 0em; 
margin-right: 8px;
}

.wrapper.active header i{ 
    font-size: 30px;
    margin-left: 5px;
}

.wrapper .input-part { 
    margin: 20px 25px 30px; 
}

.wrapper.active .input-part{ 
display: none;
}

.input-part .info-txt { 
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.info-txt.error{ 
    display: block;
    color: black	;
    background: #87CEF	 ;
    border: 1px solid 	#E6E6FA		;
}

.info-txt.pending{
    display: block;
    color: black	;
    background: #87CEFA	;
    border: 1px solid 	#E6E6FA;
}

.input-part :where(input,button) { 
width: 100%;
height: 50px;
border: none;
outline: none;
font-size: 18px;
border-radius: 16px;
}

.input-part input {  
    width: 80% !important;
    text-align: center;
    border: 1px solid 	#E6E6FA;
}


.input-part input:is(:focus, :valid ){ 
    border: 1px solid #1E90FF;
}

.input-part input::placeholder{
    color:black;
}

.searchArea{
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
}

.searchIcon{
border:1px solid white; 
border-radius: 30px; 
background-color:#1E90FF;
color: white;
width: 15%;
height: 48px;
outline: none;
font-size: 20px;
 display: flex;
justify-content: center;
align-items: center;
text-align: center; 
padding-top: 14px;
margin-left: 8px;
transition: 0.3s ease; 
}

.searchIcon:hover {
    background:		#4169E1;
}

.input-part .separator { 
   height: 1px;
   width: 100%;
   margin: 25px 0;
   background-color: #87CEFA; 
 
   display: flex;
   align-items: center;
   justify-content: center;
}
.separator::before{
    content: "or";
    color: black;
    padding: 0 15px; 
    font-size: 19px;
    background-color: #E6E6FA;
}

.input-part button {
    color: white;
    cursor: pointer;
    background-color:	#1E90FF;
    transition: 0.3s ease; }

.input-part button:hover{
    background: #4169E1;
}


.wrapper .weather-part{ 
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper.active .weather-part{ 
    display: flex;
}

.weather-part img {
       width: 270px;
} 

.weather-part .temp { 
    display: flex;
    font-size: 70px;
}

.weather-part .temp .numb { 
font-weight: 100;
}

.weather-part .temp .deg { 
    font-size: 40px;
    margin: 10px 5px 0 0 ;
    display: block;
}

.weather-part .weather{ 
    font-size: 17px;
    text-align: center;
    margin: -5px 20px 15px;
}

.weather-part .location{
    display: flex;    
    font-size: 19px;
    margin-bottom: 30px;
    text-align: center;
    align-items: flex-start;
    padding: 0 20px;

}

.location i{
font-size: 21px;
margin: 0 5px 0 0 ;
}

.weather-part .bottom-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #00BFFF;
}

.bottom-details .column {
    width: 100%;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}

.column i{
   color: #4169E1; 
   font-size: 40px;
}

.column.humidity {
    border-left:1px solid #00BFFF;
}

.column .details{
    margin-left: 3px;
}

.details .temp, .humidity span {
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}

.details .temp .deg{
    margin:0;
    font-size: 17px;
    padding: 0 2px 0 1px;
}

.column .details p{
    font-size: 14px;
    margin-top: -6px;
}

.humidity i{
    font-size: 37px;
}


@media screen and (max-width: 770px){

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .wrapper{
        max-width: 400px;
        max-height: 500px;
        font-size: 20px;
        margin: 0 20px 0 20px;
    }

  .wrapper header {
      font-weight: 400;
  }

    img {
        max-width: 170px;
    }

};




